<div class="container">

    
    <form [formGroup]="productForm">
        <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input id="name" formControlName="name" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input id="price" type="number" formControlName="price" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input id="category" formControlName="category" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input id="stock" type="number" formControlName="stock" class="form-control" />
        </div>
    <div class="mb-3">
        <label for="img" class="form-label">Image URL</label>
        <input id="img" formControlName="img" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitProduct()" [disabled]="productForm.invalid">Update Product</button>
</form>
</div>