.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -22px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 1px 10px;
  }
  