<div class="card">
    <form *ngIf="!isResetPassword" action="" [formGroup]="resetForm">
        <div class="form-field">
            <label for="email">
                Email
            </label>
            <input type="email" name="email" formControlName="email" placeholder="Email">
        </div>

        <button (click)="sendMail()">send mail</button>
    </form>

    <form action="" *ngIf="isResetPassword" [formGroup]="resetPassword">
        <div class="form-field">
            <label for="newpassword">
                New Password
            </label>
            <input type="password" name="newpassword" formControlName="password"  placeholder="Enter New password">
        </div>

        <button (click)="changePassword()">change Password</button>
    </form>
</div>