<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Order Date</th>
            <th>Canceled Date</th>
            <th>Total Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{order._id}}</td>
            <td *ngFor="let user of order.user">{{user.name}}</td>
            <td>{{order.createdAt | date:'dd-MM-YY'}}</td>
            <td>{{order.orderCanceledAt | date:'dd-MM-YY HH:MM:SS'}}</td>
            <td>₹{{order.total}}</td>
            <td >
                <p>This Order Has Been Canceled</p>
            </td>
        </tr>
    </tbody>
</table>
