<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Order Date</th>
            <th>Shipping Date</th>
            <th>Total Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{order._id}}</td>
            <td *ngFor="let user of order.user">{{user.name}}</td>
            <td>{{order.createdAt | date:'dd-MM-YY'}}</td>
            <td>{{order.orderShippedAt | date:'dd-MM-YY'}}</td>
            <td>₹{{order.total}}</td>
            <td >
                <button class="btn btn-success" (click)="onClickDeliver(order)">Mark as Delivered</button>
            </td>
        </tr>
    </tbody>
</table>
